/* NAVBAR: Logo */
.logo {
    margin-top: 10px;
    margin-left: 20px;
    width: 250px;
}

/* NAVBAR: Color de texto */
.navbar .navbar-nav .nav-link {
    color: #220a0a;
}

/* NAVBAR: Color de text HOVER */
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ad1007;
}

/* Añadir espacio entre elementos del menu */
.navbar-nav > li {
    padding-right: 30px;
}

/* Estilo del texto del menú */
.textomenu {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
}

/* Acomodar el NAV */
.navbar-nav {
    margin: auto;
}

/* FOOTER: Estilo enlaces */
.link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #8d200d;
}

/* Contenedor de los elementos  */
#contenedorProducto {
    border: 1.5px solid rgb(0, 0, 0);
    margin: 10px;
    box-shadow: rgba(187, 189, 192, 0.35) 0 1px 10px;
    width: 60%;
    padding: 0;
}

.card-body {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
}

.card-footer {
    display: flex;
    flex-direction: column;
    background: transparent;
    border-top: 0;
    padding: 0;
    margin-bottom: 10px;
}

button.btn {
    margin-top: auto;
}

#contenedorProducto:hover,
#imagenProducto:hover #botonAnadir {
    box-shadow: rgba(0, 0, 0, 0.35) 0 1px 30px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#modalNombre {
    margin-top: 550px;
}
/* FIN Contenedor de los elementos  */

#location{
    margin-bottom: -5px;
}



@media(max-width: 900px) {
    .logo {
        width: 30%;
        /* margin-left: 19%; */
    }

}